.products-table-action-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.products-table-action-header input {
  flex: 0.2;
}

.products-table-container {
  background-color: white;
  padding: 20px;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table thead {
  background: #f5f6f9;
}

.products-table thead tr th {
  padding: 15px 10px;
  white-space: nowrap;
}

.products-table thead tr th:first-child {
  width: 15%;
}

.products-table thead tr th:not(:first-child) {
  text-align: left;
}

.products-table tbody tr {
  border-bottom: 2px solid #f4f4f4;
}

.products-table tbody tr td {
  padding: 5px 10px;
}

.products-table tbody tr td:first-child {
  display: flex;
  justify-content: center;
}

.products-table tfoot tr td {
  padding: 15px 0;
}
